@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(247, 249, 252)
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: rgb(87, 95, 125);
}

h2 {
  font-family: 'Roboto', sans-serif;
  color: rgb(126, 206, 144);
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: rgb(87, 95, 125);
}

a {
  text-decoration: none;
  font-weight: 700;
  color: rgb(107, 114, 225);
  display: inline-block;
  margin: 0 auto;
}

a:hover
{
  color: rgb(126, 206, 144);
}

.white-card {
  background-color: white;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  margin: 24px auto;
  width: 80%;
  padding: 48px;
  padding-bottom: 8px;
  text-align: center;

}

.white-card p {
  margin: 24px 0;
}

.img-circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-right: 24px;
  object-fit: cover;
  margin: 16px auto;
  display: block;
}

.btn-blue {
  background-color: rgb(107, 114, 215);
  color: white;
  padding: 12px 24px;
  border-radius: 4px;
  display: inline-block;
  margin: 24px auto;
  border: 3px solid transparent
}

.btn-blue:hover {
  background-color: white;
  border-color: rgb(107, 114, 215);
  color: rgb(107, 114, 215);
}

#links a {
  margin-top: 16px;
  padding: 8px;
  font-size: 40px;
}

@media (max-width: 325px) {
  #links a {
    font-size: 32px;
  }
}
